<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Cobrar
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Pagina web -->
    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="light" mode="ios">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <!-- Codigo mau -->


    <!-- <ion-card class="animated zoomInDown" mode="ios">
        <ion-row>
            <ion-col size="6">
                <div text-center>
                    <ngx-qrcode [qrc-value]="qrCode"></ngx-qrcode>

                </div>
            </ion-col>
            <ion-col size="6">
                <h3>Págo De:</h3>
                <div text-left class="animated bounceInLeft" *ngIf="createdCode">
                    <a style="font-weight: bold; font-size: 32px; color:#616161;">${{ createdCode }}</a>
                </div>
            </ion-col>
        </ion-row>
    </ion-card> -->

    <!-- Codigo youtube -->

    <ion-card class="animated zoomInDown" mode="ios">
        <ion-row>
            <ion-col size="6">
                <div text-center *ngIf="createdCode">
                    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
                </div>
            </ion-col>
            <ion-col size="6">
                <h3>Págo De:</h3>
                <div text-left class="animated bounceInLeft" *ngIf="createdCode">
                    <a style="font-weight: bold; font-size: 32px; color:#616161;">${{ createdCode }}</a>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-input type="text" placeholder="Escriba la cantidad" [(ngModel)]="qrData"></ion-input>
        </ion-item>

        <ion-button expand="block" icon-left (click)="createCode()">
            <ion-icon name="barcode"></ion-icon>
            Crear Code
        </ion-button>
    </ion-card>


    <!-- <ion-button expand="block" icon-left (click)="scanCode()">
        <ion-icon name="qr-scanner"></ion-icon>
        Scanner
    </ion-button>



    <ion-card *ngIf="scannedCode">
        <ion-card-content>
            Result from Scan: {{scannedCode}}
        </ion-card-content>
    </ion-card> -->

</ion-content>

<!-- <ion-footer class="animated fadeInUp" color="light" mode="ios">
    <ion-row>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="oneButton()">1</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="twoButton()">2</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="threeButton()">3</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="fourButton()">4</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="fiveButton()">5</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="sixButton()">6</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="sevenButton()">7</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="eightButton()">8</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="nineButton()">9</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="secondary" expand="block" (click)="scanCode()">
                <ion-icon name="barcode"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="light" expand="block" (click)="zeroButton()">0</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button mode="ios" color="danger" expand="block" (click)="cleanButton()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer> -->